{% extends 'base.html.twig' %}

{% block main %}
    <div class="panoramaMY textDec">
        <br><br>
        <p class="textFormat">
              Milky Way explorer is educational and strategic game. Player is invading the galaxy by choosing places to explore. Each place give different amount of resources that are specific to it's location. The player should choose wisely as each place will ask a question in order to check, if player has the abilities to gain it resources. The player with the most solar systems and resources will win the game.
            <br><br>
            Explore the resources of the Milky Way <a href="{{ path('user_profile') }}" style="text-decoration: none; color: yellow">Play the game!</a>
        </p>
    </div>

{% endblock %}
